@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2> Edit <h2> 
<h4> Edit Animal : @Html.DisplayFor(model => model.Type) </h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AnimalId)

  @Html.LabelFor(model => model.Type)
  @Html.EditorFor(model => model.Type)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("back to list", "Index")</p>